<template>
	<div>
		<navigation />
		<router-view></router-view>
	</div>
</template>

<script>
	import navigation from "./components/navigation";

	export default {
		components: {
			navigation
		},
		created: async function() {
			this.$store.commit(
				"updatePort",
				chrome.runtime.connect({ name: "popup" })
			);

			this.$store.state.port.onMessage.addListener(msg =>
				this.$store.commit("updateConnectionState", msg)
			);
		}
	};
</script>

<style lang="scss">
	@import "../../assets/scss/_variables.scss";

	@font-face {
		font-family: "Discord Font";
		font-weight: 900;
		src: url("../../assets/fonts/DiscordFontBlack.woff2") format("woff2");
		font-style: normal;
	}

	@font-face {
		font-family: Inter;
		src: url("../../assets/fonts/Inter/Inter-Regular.woff2") format("woff2");
	}

	@font-face {
		font-family: Inter;
		font-weight: 500;
		src: url("../../assets/fonts/Inter/Inter-Medium.woff2") format("woff2");
	}

	@font-face {
		font-family: Inter;
		font-weight: 700;
		src: url("../../assets/fonts/Inter/Inter-Bold.woff2") format("woff2");
	}

	* {
		font-family: Inter;
		box-sizing: border-box;
		user-select: none;
	}

	html,
	body {
		min-width: 300px;
		margin: 0;
		padding: 0;

		background-color: $notQuiteBlack;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	p {
		margin: 0;
		padding: 0;
	}

	.link {
		text-decoration: none;
		font-weight: 600;
		color: $blurple;
	}
</style>
